<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
   <servlet-name>One</servlet-name>
   <servlet-class>login</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>One</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
   <servlet-name>Two</servlet-name>
   <servlet-class>Details</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Two</servlet-name>
    <url-pattern>/getDetails/*</url-pattern>
  </servlet-mapping>

  <servlet>
   <servlet-name>Three</servlet-name>
   <servlet-class>returnTime</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Three</servlet-name>
    <url-pattern>/returns</url-pattern>
  </servlet-mapping>

  <servlet>
   <servlet-name>Four</servlet-name>
   <servlet-class>signup</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Four</servlet-name>
    <url-pattern>/newRecords</url-pattern>
  </servlet-mapping>

  <servlet>
   <servlet-name>Five</servlet-name>
   <servlet-class>tollPass</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Five</servlet-name>
    <url-pattern>/travels</url-pattern>
  </servlet-mapping>

</web-app>
